/* .imageChange{
    width: 500px;
    height: 350px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */
.imageChange{
    width: clamp(200px, 50vw, 500px); 
  height: 50vh;
  padding-top: 56.25%; /* Aspect ratio of 16:9 */
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease; 
}

@media (min-width: 768px) {
    .imageChange {
      width: 50vw; /* 50% of the viewport width */
      height: 50vh; /* 50% of the viewport height */
    }
  }
  
  @media (min-width: 1024px) {
    .imageChange {
      width: 33vw; /* 33% of the viewport width */
      height: 33vh; /* 33% of the viewport height */
    }
  }